.grid {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  grid-gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .grid {
    grid-gap: 30px;
    padding: 100px 10px;

    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
