.main {
  background-image: url(/assets/footer.jpg);
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 154px;
  /* height: 35vh; */
  width: 100%;
  position: relative;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 0;
  opacity: 0.25;
}

.icons_text {
  color: white;
  z-index: 200;
  position: relative;
}

.icons {
  display: flex;
  justify-content: center;
  z-index: 200;
  position: relative;
}

.icon {
  height: 30px;
  width: 30px;
  margin: 0 20px 0 20px;
}

.a {
  color: white;
}

.text {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0;
}
